.navbar {
    background: rgb(91, 157, 223);
    padding: 20px;
    color: #fff;
    justify-content: space-around;
}
.navbar nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.navbar nav h1 {
    margin: 15px;
}
.navbar a.brand {
    margin-right: auto;
    color: #fff;
    text-decoration: none;
}
.navbar a:last-child {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
}